@media (max-width: 650px) {
  .banner h1{
    font-size: 5em;
   width: 300px;
  }
  .banner p{
  font-size: 1.2em;
}
}
  
 
 @media (max-width: 800px){
    .cards{
     display: none;
     
    }
  
    .cards2{
      display: block;
    }
  
    .cards2{
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
    }
  
    .card4, .card5, .card6{
      width: 80%;
    }
  }

  @media (max-width: 600px) {
    .max-widht{
      background-attachment: scroll;
    }
  }

  @media  (max-width: 600px){
    article img{
     height: 34vh;
      width: 80%;
  position: relative;
 bottom: 20px;
 left: 20px;
     

    }
  
    article{
      height: 100vh;
      
    }


    }

    @media (max-width: 810px){
     article p{
      width: 100%;
     
     }
     
    }

    @media (max-width: 100px){
      main{
        height: 70px;
      
      }
      }

      @media (min-width: 800px){
        main{
          height: 70vh;
         
        }
      }
    
  
  
  
  
  
  