@media( max-width: 450px){
    .home-conteiner{
        background-attachment: scroll;

    }
    .content-home h3{
        margin-left: 0;
    }
    .content-home p{
        margin-left: 0;
    }
}

@media( max-width: 600px){
    .sobre-conteiner{
        display: flex;
        flex-direction: column;
      justify-content: center;
      margin-top: 4rem;
      height: 100vh;
    }
}
@media( min-width: 600px){
  .conteiner2{
    height: 95vh;
  }
}
  
@media( max-width: 400px){
    .sobre-conteiner img{
     width: 70vw;

    }
}

@media( max-width: 600px){
    .card-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 160vh;
     }

     .card{
  
        width: 260px;
        height: 36vh;
        display: flex;
        flex-direction: column;
       
     }

    .texto p{
        width: 200px;

       
    }

    .card:hover{
       
        transition: all 0s;
        transform: scale(1);
    }

      .texto{
        display: block;
      }

      .btn{
        color: white;
        background-color: var(--color-senary);
        border: solid 1px #4e4e4e;
        border-radius: 4px;
        width: 90px;
        height: 4vh;
        cursor: pointer;
        font-weight: 600;
        position: absolute;
        top: 82%;
        left: 59%;
        transition: all 0.5s;
      }

      /*planos*/

      .container4{
height: 160vh;

      }

     .planos{
       display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 130vh;
      
     }


}





  
  
  
  