@media( max-width: 450px){
    .home-conteiner{
        background-attachment: scroll;

    }
    .content-home h3{
        margin-left: 0;
    }
    .content-home p{
        margin-left: 0;
    }
}

@media( max-width: 600px){
    .sobre-conteiner{
        display: flex;
        flex-direction: column;
      justify-content: center;
      margin-top: 4rem;
      height: 100vh;
    }
}
@media( min-width: 600px){
  .conteiner2{
    height: 95vh;
  }
}
  
@media( max-width: 400px){
    .sobre-conteiner img{
     width: 70vw;

    }

}
@media (min-width: 780px) {
  .container-aulas{
    height: 80vh;
  }
}

@media (max-width: 785px) {
  .container-aulas{
    height: 120vh;
  }
}

@media (max-width: 550px) {

  .container-aulas{
    height: auto;
  }
  
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
   
}

.texto{
  display: block;

}

.btn{top: 84%;}

.card:hover{
 transition:  none;
 transform: none;
}


.card:hover .texto{
  cursor: pointer;
}

/*planos*/

.container4{
height: auto;
}

  .planos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    
  }

}





  
  
  
  