@charset "UTF-8";

*{padding: 0px;
margin: 0px;
box-sizing: border-box;}

body{background-color: rgb(42, 40, 44);
    width: 1000px;
    margin: auto;
    background-image: url(imagens/homen1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 86%;
  background-attachment: fixed;


  
}

header{color: rgb(233, 232, 235);
background-color: rgba(22, 21, 21, 0.534);
padding: 10px ;
padding-bottom: 0px;
 } 

 header h1{font-size: 2.5em;
    padding-bottom: 5px;
}


nav{
  background-color: rgba(22, 21, 21, 0.534);
padding: 15px;
}

nav a{ padding: 10px; ;
text-decoration: none;
color: rgb(235, 235, 235);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover{background-color: rgba(128, 128, 128, 0.644);
text-decoration: underline;
border-radius: 20px;
transition: 1.1s;}


footer p{ color: white;
display: absolute;
bottom: 100;}

  
  
  
  
    
  

 

 








 
