@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

body{
background-color: #000000 ;
}





:root {
    --font-family: 'Courier Prime', monospace;
    --font-family-2: 'Nunito Sans', sans-serif;
    --font-family-3: 'Sriracha', cursive;
    --font-family-4: 'Lato', sans-serif;
    --font-family-5: 'Bebas Neue', cursive;
    --font-family-6: 'Roboto', sans-serif;
    --font-family-7: "Roboto", sans-serif;
    --color-primary: #414141;
    --color-secondary: #868686;
    --color-tertiary: #000000;
    --color-quaternary: #ffffff;
    --color-quinary: #9e9e9e;
    --color-senary: #494949dc;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden; 
}

/*menu*/

  header{
    background:#000000;
    width: 110%;
    height: 70px;
    position: fixed;
    z-index: 99;
    border-bottom: 0.1rem solid #868686;
   
  }

 .content{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: 7px;

 }



 .amenu{
  text-decoration: none;
  color: var(--color-quaternary);
  margin: 1rem 0px;
  font-weight: 200;
 font-family: var(--font-family-2);
 padding: 5px;
 }

 .amenu:hover{
  border-bottom: #9e9e9e 0.1rem solid;
  padding-bottom: 0.1rem;
  font-size: 1.1rem;
  color: var(--color-secondary);
 }


/*pagina inicial*/

.home-conteiner{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #201d1d 100%),
 url(imagens/risen-wang-20jX9b35r_M-unsplash.jpg);

  background-size: cover;
background-repeat: no-repeat;
background-position: right  center;
height:740px;
width: 100%;
background-attachment: fixed;
backdrop-filter: blur(5px);
overflow: hidden;
}

.home-conteiner section{
  display: flex;
  align-items: center;
  min-height: 96vh;
  
}

.content-home {
max-width: 60rem;

}

.content-home h3{
    
    font-family: var(--font-family-7);
color: rgb(255, 255, 255);
    margin-top: 1rem;
    margin-left: 3rem;
    padding: 1rem 2rem;
    font-size: 5rem;  
    
}

.content-home p{
  color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.6rem;
    padding: 1rem 2rem;
    margin-left: 3rem;
}



.btn1{
  color: var(--color-quaternary);
  background-color: var(--color-secondary);
  border: none;
  margin-top: 1rem;
  padding: 12px 3rem;
  cursor: pointer;
  display: flex;
 margin-left: 1rem;
 
 transition: all 1s;
}

.matricula{
  color: var(--color-quaternary);
 text-decoration: none;
 cursor: pointer;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
font-size: 1.1em;

}

.btn1:hover{
  background-color: var(--color-senary);
  text-decoration: underline;
  transition: 1s;
}
