@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sriracha&display=swap');

*{padding: 0px;
margin: 0px;
box-sizing: border-box;}

body{background-color: rgb(58, 56, 56);

}
  
 


.img-homen{

  width: 100%;
  height: 100%;
overflow: hidden;


}

.img-homen img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
 

}

.banner{
  position: absolute;
  top: 27%;
  left: 10%;
 
}

.banner h1{
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", serif;
  font-weight: normal;
  font-size: 5em;
  text-shadow: 2px 5px 10px rgb(78, 77, 77);
  text-align: left;
}

.banner p{
  color: white;
  font-size: 1.2em;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

main{
  background-color: rgb(83, 81, 81);


}


main h1{
  font-size: 1.9em;
  text-align: center;
  padding: 20px;
 color: rgb(238, 233, 233);
 font-weight: normal;
 text-shadow: 7px 5px 9px black;

}



.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -20px;
  padding: 40px;
  width: 100%;
  background-color: rgb(83, 81, 81);
 
  
}

.card1{
  
 box-shadow: 2px 2px 17px 2px black;
  width: 27%;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
background-image: url(imagens/academia2.png);
background-size: cover;
filter: brightness(60%); /* Deixa a imagem mais escura */
transition: filter 0.3s ease; /* Transição suave ao passar o mouse */


}
.card1:hover{
  filter: brightness(100%); /* Deixa a imagem mais clara */
 
}


.card1-conteiner{
  padding: 15px;
color: aliceblue;
text-shadow:  10px 7px 17px black;
display: none;
}

.card1-conteiner h2 {
font-size: 1.2em;
padding-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;

}

.card1:hover .card1-conteiner{
  display: block;
}








.card2{
  box-shadow: 2px 2px 17px 2px black;
  width: 28%;
  height: 300px;
  margin: 20px;
  border-radius: 15px;
  background-image: url(imagens/academia1.png);
  background-size: cover;
  filter: brightness(60%); /* Deixa a imagem mais escura */
    transition: filter 0.3s ease; /* Transição suave ao passar o mouse */
    
}

  .card2:hover{
    filter: brightness(100%); /* Deixa a imagem mais clara */
   
  }

  .card2-conteiner{
    padding: 10px;
    display: none;
  }

  .card2-conteiner h2 {
    color: white;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card2-conteiner p {
    color: white;

  }

  .card2:hover .card2-conteiner{
    display: block;
  }




  .card3{
   
    box-shadow: 2px 2px 17px 2px black;
    width: 27%;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    background-image: url(imagens/academia3.png);
    background-size: cover;
    filter: brightness(60%); /* Deixa a imagem mais escura */
    transition: filter 0.3s ease; /* Transição suave ao passar o mouse */
 

  }

  .card3:hover{
    filter: brightness(100%); /* Deixa a imagem mais clara */

  }


.card3-conteiner{
  padding: 10px;
  display: none;
  
 
}
  .card3-conteiner h2{
color: white;
padding-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;

  }
  .card3-conteiner p {
    color: rgb(255, 255, 255);
  }

  .card3:hover .card3-conteiner{
    display: block;
    
    
  }






  .cards2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 600px;
    display: none;
    margin: auto;
   
  }

 

 .card4{
    width: 80%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%); /* Deixa a imagem mais escura */
    transition: filter 0.3s ease; /* Transição suave ao passar o mouse */
background-image: url(imagens/academia\ \(1\).png);
background-size: cover;
text-shadow: 16px 18px 17px black;
margin-bottom: 20px;
  }


  .card4:hover{
    filter: brightness(100%); /* Deixa a imagem mais clara */
  }

  .card4-conteiner{
    color: white;
  }
  .card4-conteiner h2{
text-align: left;
padding: 10px;

font-size: 1.6em;
  }

  .card4-conteiner p {
    font-size: 1.1em;
    text-align: justify;
    padding: 10px;
  }

  .card5{
    width: 80%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%); /* Deixa a imagem mais escura */
    transition: filter 0.3s ease; /* Transição suave ao passar o mouse */
    background-image: url(imagens/academia\.png);
    background-size: cover;
    text-shadow: 16px 18px 17px black;
    margin-bottom: 20px;
  }

  .card5:hover{
    filter: brightness(100%); /* Deixa a imagem mais clara */
  }

  .card5-conteiner{
    color: white;
  }

  .card5-conteiner h2{
text-align: left;
padding: 10px;
font-size: 1.8em;
  }

  .card5-conteiner p{
    text-align: justify;
    padding: 10px;
    font-size: 1.1em;
  }

  .card6{
    width: 80%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%); /* Deixa a imagem mais escura */
    transition: filter 0.3s ease; /* Transição suave ao passar o mouse */
    background-image: url(imagens/correr2.jpeg);
    background-size: cover;
    background-position: center center;
  }

  .card6:hover{
    filter: brightness(100%); /* Deixa a imagem mais clara */
 }

 .card6-conteiner{
  color: white;
  text-align: center;
 text-shadow: 18px 17px 15px black;
 }

 .card6-conteiner h2{
  text-align: left;
  padding: 10px;
 font-size: 1.8em;
  }

  .card6-conteiner p{
    font-size: 1.1em;
text-align: justify;
padding: 10px;
  }

  

  






aside {
  background-color: rgb(83, 81, 81);
  padding: 30px;
  color: white;
  box-sizing: border-box;
  box-shadow: inset 0px 2px 10px 0px black;

}


aside h1{
  padding-bottom: 15px;
  font-size: 1.em;
  font-family: Arial, Helvetica, sans-serif ;
  text-shadow:  4px 3px 10px black;
}

aside p{
  font-size: 1.1em;
}








  
  
  
  
    
  

 

 








 
